.vue-cookies-form {
    --checkbox-bg: #58bc00;
    --title-bg: #f2f2f2;
    --title-color: #888;
    --sub-title-color: #464646;
}
.vue-cookies-bar {
    --color: #464646;
    --background: #FFFFFF;
    --radius: 4px;
    --z-index: 10;
}
.v-coo-f {
    margin-bottom: 30px;
}
.v-coo-f__buttons {
    display: flex;
}
.v-coo-f__buttons button {
    margin-right: 18px;
    margin-bottom: 18px;
}
.v-coo-f__buttons button:last-child {
    margin-right: 0;
}
.v-coo-f__box {
    margin-bottom: 18px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}
.v-coo-f__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-bottom: 1px solid var(--title-bg);
    background-color: var(--title-bg);
    padding: 25px;
}
.v-coo-f__button {
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    padding: 5px 10px;
    line-height: 1.4;
    text-decoration: none !important;
    background-color: #fff;
    border: 1px solid #464646;
    color: #464646;
    border-radius: 4px;
    transition: all .15s ease-in-out;
}
.v-coo-f__button-green {
    background-color: #58bc00;
    border: 1px solid #58bc00;
    color: #fff;
}
.v-coo-f__button-dark {
    background-color: #464646;
    border: 1px solid #464646;
    color: #fff;
}
.v-coo-f__titles {
    flex: 1 1 0;
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}
.v-coo-f__title {
    color: #888;
    color: var(--title-color);
    font-size: 16px;
}
.v-coo-f__sub-title {
    font-weight: 600;
    color: #464646;
    color: var(--sub-title-color);
    font-size: 18px;
}
.v-coo-f__checkbox {
    margin: 0;
}
.v-coo-f__checkbox__input {
    width: 36px;
    height: 18px;
    margin: 4.5px 9px 0 0;
    vertical-align: top;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #c3c3c3;
    border-radius: 26px;
    transition: background-position .15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
}
.v-coo-f__checkbox__input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: #58bc00;
    border-color: #58bc00;
    background-color: var(--checkbox-bg);
    border-color: var(--checkbox-bg);
}
.v-coo-f__text {
    padding: 15px 25px 25px 25px;
    font-size: 15.75px;
    line-height: 150%;
    color: #888;
}
.v-coo-f__message {
    width: 100%;
    border: 0px solid #58bc00;
    background-color: #e6f1d8;
    padding-left: 18px;
    color: #58bc00;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: height 0.3s ease-out, opacity 0.3s ease-out, margin-bottom 0.3s ease-out;;
    height: 0;
    opacity: 0;
    margin-bottom: 0;
}
.v-coo-f__message.error {
    border-color: #e2001a;
    background-color: #ebbcbc;
    color: #e2001a;
}
.v-coo-f__message.visible {
    height: 45px;
    opacity: 1;
    margin-bottom: 18px;
    border-width: 1px;
}
@media screen and (max-width: 500px) {
    .v-coo-f__buttons {
        flex-direction: column-reverse;
    }
    .v-coo-f__buttons button{
        margin-right: 0;
    }
    .v-coo-f__header {
        padding: 15px;
        flex-direction: column;
        align-items: baseline;
    }
    .v-coo-f__text {
        padding: 15px;
    }
    .v-coo-f__checkbox {
        margin-top: 13.5px;
    }
}
/*cookie bar*/
.v-coo-b {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    z-index: var(--z-index);
    transition: opacity .35s ease-out;
    opacity: 0;
    color: #464646;
    color: var(--color);
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
}
.v-coo-b, .v-coo-b * {
    box-sizing: border-box;
}
.v-coo-b.visible {
    opacity: 1;
}
.v-coo-b__inner {
    max-width: 1024px;
    background: #fcfbde;
    background: var(--background);
    border-radius: 4px;
    border-radius: var(--radius);
    margin: auto;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 10;
}
.v-coo-b__content {
    padding: 2.5rem;
    flex: 1 1 0;
}
.v-coo-b__title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.v-coo-b__text {
    font-size: 14px;
}
.v-coo-b__buttons {
    background-color: #E6F1D8;
    padding: 2.5rem;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.v-coo-b__buttons a:not([role="button"]) {
    text-decoration: none;
    color: #464646;
    text-align: center;
}
.v-coo-b__buttons a:not([role="button"]):hover {
    text-decoration: underline;
}
.v-coo-b__buttons a {
    margin-bottom: .5rem;
    width: 100%;
}
.v-coo-b__buttons a:last-of-type {
    margin-bottom: 0;
}
.v-coo-b__button {
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding: 5px 10px;
    line-height: 1.4;
    text-decoration: none !important;
    background-color: #fff;
    border: 1px solid #464646;
    color: #464646;
    border-radius: 4px;
    transition: all .15s ease-in-out;
}
.v-coo-b__button-green {
    background-color: #58bc00;
    border: 1px solid #58bc00;
    color: #fff;
}
.v-coo-b__outer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
@media screen and (max-width: 767px) {
    .v-coo-b__content,
    .v-coo-b__buttons {
        padding: 2rem;
    }
}
@media screen and (max-width: 639px) {
    .v-coo-b__content ,
    .v-coo-b__buttons {
        padding: 1.5rem;
    }
    .v-coo-b__inner {
        flex-direction: column;
    }
    .v-coo-b__buttons {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
    .v-coo-b__buttons a {
        width: auto;
        margin-bottom: 0;
        margin-left: .5rem;
    }
}
@media screen and (max-width: 560px) {
    .v-coo-b__buttons {
        flex-direction: column;
        justify-content: center;
    }
    .v-coo-b__buttons a {
        width: 100%;
        margin-bottom: .5rem;
        margin-left: 0;
    }
}