<div class="container">
    <div class="content">
        <div class="row">
            <div class="column">
                <h1 class="page-name">{{title}}</h1>
            </div>
        </div>
        <div class="row map">
            <div class="column">
                <ul>
                    <li class="heading">
                        <a href="{{main_addon:translate type='url' :lang="locale" page="index"}}">{{main_addon:translate type='name' :lang="locale" page="index"}}</a>
                    </li>
                    <li class="heading">
                        <a href="{{main_addon:translate type='url' :lang="locale" page="about"}}">{{main_addon:translate type='name' :lang="locale" page="about"}}</a>
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="history"}}">{{main_addon:translate type='name' :lang="locale" page="history"}}</a>
                    </li>
                    <li class="heading">
                        <a href="{{main_addon:translate type='url' :lang="locale" page="companies"}}">{{main_addon:translate type='name' :lang="locale" page="companies"}}</a>
                    </li>
                    {{collection:nase-spolecnosti}}
                    <li>
                        <a href="{{url}}">{{title}}</a>
                    </li>
                    {{/collection:nase-spolecnosti}}
                </ul>
            </div>
            <div class="column">
                <ul class="map">
                    <li class="heading">
                        <a href="{{main_addon:translate type='url' :lang="locale" page="career"}}">{{main_addon:translate type='name' :lang="locale" page="career"}}</a>
                    </li>
                    <li class="heading">
                        <a href="{{main_addon:translate type='url' :lang="locale" page="media"}}">{{main_addon:translate type='name' :lang="locale" page="media"}}</a>
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="news-all"}}">{{main_addon:translate type='name' :lang="locale" page="news-all"}}</a>
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="news-ann"}}">{{main_addon:translate type='name' :lang="locale" page="news-ann"}}</a>
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="news-about"}}">{{main_addon:translate type='name' :lang="locale" page="news-about"}}</a>
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="news-appr"}}">{{main_addon:translate type='name' :lang="locale" page="news-appr"}}</a>
                    </li>
                    <li class="heading">
                        <a href="{{main_addon:translate type='url' :lang="locale" page="contact"}}">{{main_addon:translate type='name' :lang="locale" page="contact"}}</a>
                    </li>
                    <li class="heading nohover">
                        {{main_addon:translate type='name' :lang="locale" page="footer"}}
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="protection"}}">{{main_addon:translate type='name' :lang="locale" page="protection"}}</a>
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="cookies"}}">{{main_addon:translate type='name' :lang="locale" page="cookies"}}</a>
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="condition"}}">{{main_addon:translate type='name' :lang="locale" page="condition"}}</a>
                    </li>
                    <li>
                        <a href="{{main_addon:translate type='url' :lang="locale" page="map"}}">{{main_addon:translate type='name' :lang="locale" page="map"}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>