Ahoj,

přišel nám dotaz z obecného(en) formuláře na webových stránkách skupina-dek.cz. Prosím odpověz na něj při nejbližší možné příležitosti.

{{ email }} napsal/a:
„{{ message }}”

Předem ti moc děkujeme za rychlé vyřízení tohoto dotazu.

S přáním pěkného dne

Skupina DEK

---
Ahoj,<br>
<br>
přišel nám dotaz z obecného formuláře na webových stránkách skupina-dek.cz. Prosím odpověz na něj při nejbližší možné příležitosti.<br>
<br>
{{ email }} napsal/a:<br>
<em>„{{ message }}”</em><br>
<br>
Předem ti moc děkujeme za rychlé vyřízení tohoto dotazu.<br>
<br>
S přáním pěkného dne<br>
<br>
Skupina DEK<br>
<br>