Ahoj,

prišla nám otázka zo všeobecného formulára umiestneného na webových stránkach skupina-dek.cz. Odpovedz na ňu, prosím, pri najbližšej možnej príležitosti.

{{ email }} napísal/a:
„{{ message }}”

Vopred ďakujeme za rýchlu odpoveď.

S prianím pekného dňa,

Skupina DEK

---
Ahoj,<br>
<br>
prišla nám otázka zo všeobecného formulára umiestneného na webových stránkach skupina-dek.cz. Odpovedz na ňu, prosím, pri najbližšej možnej príležitosti.<br>
<br>
{{ email }} napísal/a:<br>
<em>„{{ message }}”</em><br>
<br>
Vopred ďakujeme za rýchlu odpoveď.<br>
<br>
S prianím pekného dňa,<br>
<br>
Skupina DEK<br>
<br>